# Flask
FLASK_APP=app.py
FLASK_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres

# AWS S3
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-east-2
AWS_S3_BUCKET=synchro-cad-files
